@use 'variaveis';

.gallery {
    height: inherit;
    width: inherit;
    inset: 0; 
    position: absolute;
    z-index: 999;
    display: none;
    
    &::after {
        content: '';

        z-index: -1;
        width: inherit;
        height: inherit;
        position: fixed;
        inset: 0; 
        background-color: rgba(variaveis.$corSecundaria, 0.8);
       
    }

    &__container {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;


        h2 {
            display: flex;
            justify-content: end;
            margin-top: 118px;
        }
    }

    &__list {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:30px 100px;

        &__image {

            img {
                border-radius: 25px;
                width: 100%;
                height: 100%;  
                object-fit: cover;
            }
        }
    }

    
    @media(max-width: 869px){
        .gallery {
            &__container {
                max-width: 350px;
                width: 100%;
            }

            &__list {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
    
    @media(max-width: 1280px) and (min-width: 868px){
        .gallery {
            &__container {
                max-width: 800px;
                width: 100%;
            }

            &__list {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    @media(max-width: 1720px) and (min-width: 1280px) {
        .gallery {
            &__container {
                max-width: 1000px;
                margin: 0 auto;
            }
        }
    }
}
