@use 'variaveis';

.story {
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    height: inherit;
    width: inherit;
    inset: 0;
    position: absolute;
    z-index: 1;


    &::after {
        content: '';
        
        z-index: -1;
        width: inherit;
        height: inherit;
        position: fixed;
        inset: 0; 
        background-color: rgba(variaveis.$corSobreposicao, 0.5);
       
    }

    &__container {
        max-width: 1400px;
        margin: 0 auto;
        height: 100vh;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    &__content {
        max-width: 700px;
        width: 100%;
        text-align: center;

        &__buttons {
            display: flex;
            justify-content: space-around;
        }

        p {
            margin-top: 25px;
        }

        &__soldOut {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 5%;
            transition: opacity 0.5s ease;
            pointer-events: none;
            white-space: nowrap;

            &__alert {
                padding: 10px 60px;
                color: variaveis.$corPrincipalTexto;
                background-color: variaveis.$corAlert;
                border: 2px solid variaveis.$corPrincipalTexto;
            }

            &--is-active {
                opacity: 1;
            }
        }
    }

    @media(max-width: 1280px) {
        .story {
            &__container {
                max-width: 350px;
                align-items: center;
                justify-content: center;
            }

            &__content {
                &__buttons {
                    flex-direction: column;
                    align-items: center;
                }

                &__soldOut {
                    margin-top: 160px;
                }
            }
        }
    }

    @media(max-width: 1720px) {
        .story {
            &__container {
                max-width: 1100px;
                width: 100%;
            }

            &__content {
                max-width: 450px;
                width: 100%;
            }
        }
    }
}