@use 'variaveis';

.story {
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    height: inherit;
    width: inherit;
    inset: 0;
    position: absolute;
    z-index: 1;


    &::after {
        content: '';
        
        z-index: -1;
        width: inherit;
        height: inherit;
        position: fixed;
        inset: 0; 
        background-color: rgba(variaveis.$corSobreposicao, 0.5);
       
    }

    &__container {
        max-width: 1600px;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: end;
        padding-bottom: 70px;
    }

    &__content {
        max-width: 700px;
        width: 100%;
        margin-top: 20%;
        text-align: center;

        &__buttons {
            display: flex;
            justify-content: space-around;
        }

        p {
            margin-top: 25px;
        }

        &__soldOut {
            opacity: 0;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 20px;
            transition: opacity 0.5s ease;
            pointer-events: none;

            span {
                padding: 10px 35px;
                text-transform: uppercase;
            }

            &--is-active {
                opacity: 1;
            }
        }
    }
}