@use 'reset';
@use 'variaveis';
@use 'hero';

@mixin text($fontWeight: 100) {
    font-size: 19px;
    font-weight: $fontWeight;
    font-family: variaveis.$fontPrincipal;
    color: variaveis.$corPrincipalTexto;
    letter-spacing: 3px;
}

.text {
    @include text()
}

.text--button {
    @include text($fontWeight: 500)
}

.container {
    max-width: 1840px;
    width: 100%;
    margin: 0 auto;
}