@use 'reset';
@use 'variaveis';
@use 'hero';
@use 'header';
@use 'gallery';

@mixin text($fontWeight: 100) {
    font-size: 19px;
    font-weight: $fontWeight;
    font-family: variaveis.$fontPrincipal;
    color: variaveis.$corPrincipalTexto;
    letter-spacing: 3px;
}

body {
    background-color: variaveis.$corSecundaria;
}

.text {
    @include text()
}

.text--button {
    @include text($fontWeight: 500)
}

.container {
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    display: none;

    &--is-active {
        display: block;
    }
}

.line {
    background-color: variaveis.$corPrincipalTexto;
    height: 2px;
    width: 100%;
    margin: 75px 0;
}

.button-close {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 80px;
    transform: rotate(45deg);
    padding: 20px 40px;
    cursor: pointer;
}